body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin: 0;
    box-shadow: 0px 15px 10px -15px #111;
}

.navigation ul li {
    list-style: none;
    cursor: pointer;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.navigation ul li:hover {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 80px 20px;
}

.content div {
    height: 150px;
    width: 150px;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.blue {
    background-color: #142F54;
} 

div.green {
    background-color: #54A759;
}

div.yellow {
    background-color: #D4D06A;
}

div.orange {
    background-color: #AA7139;
}

.content div.blue p:hover {
    color: #142F54;
}
.content div.green p:hover {
    color: #54A759;
}
.content div.yellow p:hover {
    color: #D4D06A;
}
.content div.orange p:hover {
    color: #AA7139;
}


.footer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-evenly;
    align-items: center;
    height: 160px;
    box-shadow: 0px -15px 10px -15px #111; 
}

.footer div {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer div a {
    text-decoration: none;
    color: aliceblue;
}